[
  {
    "eventName": "PICK_BEGIN",
    "eventTs": "$DATE_TOOL.get('yyyy-MM-dd')T$DATE_TOOL.get('HH:mm:ss')",
    "eventPayload": {
      "fulfillmentOrders": [
      #foreach($fulfillmentOrder in $DOMAIN_ENTITY.messageBody.orderBeginEvent.fulfillmentOrders.fulfillmentOrder)
        {
          "orderNbr": $fulfillmentOrder.orderNbr,
          "priorityCode": $fulfillmentOrder.priorityCode
        }
       #end
      ]
    },
    "MessageExtensions": [
      #foreach($extension in $DOMAIN_ENTITY.messageBody.messageExtensions.messageExtension)
       {
          "name": $extension.name,
          "value": $extension.value
       }
      #end
     ]
  }
]