{
  "EventId":"PickEndEvent",
  "StoreNumber":"$DOMAIN_ENTITY.messageBody.orderBeginEvent.node.nodeId",
  "OrderNumber":"$DOMAIN_ENTITY.MessageBody.pickingSubSystemOrderComplete.fulfillmentOrder.orderNbr"
}
