[
  {
    "eventName": "PICK_COMPLETE",
    "eventTs": "$DATE_TOOL.get('yyyy-MM-dd')T$DATE_TOOL.get('HH:mm:ss')",
    "eventPayload": {
      "pickCompleteDetails": [
        {
          "fulfillOrdNbr": "$DOMAIN_ENTITY.MessageBody.pickingSubSystemOrderComplete.fulfillmentOrder.orderNbr",
          "lines": [
           #foreach($line in $DOMAIN_ENTITY.MessageBody.pickingSubSystemOrderComplete.fulfillmentOrder.lines.line)
            {
              "orderLine": "$line.lineNbr",
              "qtyToFulfill": "$line.orderedQty",  //is it orderedWeight??
              "pickDetails": [
               #foreach($pickDetail in $DOMAIN_ENTITY.MessageBody.pickingSubSystemOrderComplete.fulfillmentOrder.lines.line.pickDetails)
                {
                  "pickQty": "$pickDetail.pickQty",
                  "pickType": "$pickDetail.pickType",
                  "pickUpcNbr": "$pickDetail.pickUpcNbr",
                  "upcTypeCd": "5100",                          //NA ????
                  "pickedUser": "$pickDetail.pickedUser",
                  "pickDisplayTs": "$pickDetail.pickDisplayTs", 
                  "pickedTs": "$pickDetail.pickedTs",
                  "pickUom": "$pickDetail.pickUom",
                  "container": [   //Not a list
                    {
                      "pickQty": 1,
                      "pickWeight": 5,
                      "containerNbr": "A64723"
                    }
                  ],
                  "pickLocation": "MFC",  //NA ??
                  "pickPriceEmbeddedUpcNbr": "$pickDetail.pickPriceEmbeddedUpcNbr",
                  "gtinPriceAmt": 14.8,                          ////NA ????
                  "pickWeight": $pickDetail.pickWeight
                }
               #end
              ]
            }
            #end
          ]
        }
      ]
    }
  }
]