[
  {
    "eventName": "PICK_COMPLETE",
    "eventTs": "$DATE_TOOL.get('yyyy-MM-dd')T$DATE_TOOL.get('HH:mm:ss')",
    "eventPayload": {
      "pickCompleteDetails": [
        {
          "fulfillOrdNbr": "$DOMAIN_ENTITY.messageBody.pickOrderComplete.fulfillmentOrder.orderNbr",
          "lines": [
           #foreach($line in $DOMAIN_ENTITY.messageBody.pickOrderComplete.fulfillmentOrder.lines.line)
            {
              "orderLine": "$line.lineNbr",
              "qtyToFulfill": "$line.orderedQty",
              "pickDetails": [
               #foreach($pickDetail in $line.pickDetails)
                {
                  "pickQty": $pickDetail.pickQty,
                  "pickType": "$pickDetail.pickType",
                  "pickUpcNbr": "$pickDetail.pickUpcNbr",
                  #if( $pickDetail.pickType == "ORDERED" )
                    "upcTypeCd": "5100",
                  #elseif( $pickDetail.pickType == "SUBSTITUTE" )
                    "upcTypeCd": "5200",
                  #elseif( $pickDetail.pickType == "CROSSREF" )
                    "upcTypeCd": "5300",
                  #elseif( $pickDetail.pickType == "OVERRIDE" )
                    "upcTypeCd": "5400",
                  #end
                  "pickedUser": "$pickDetail.pickedUser",
                  "pickDisplayTs": "$pickDetail.pickDisplayTs", 
                  "pickedTs": "$pickDetail.pickedTs",
                  "pickUom": "$pickDetail.pickUom",
                  "container": [
                    {
                      "pickQty": $pickDetail.pickQty,
                      "containerNbr": "$pickDetail.container.containerNbr"
                    }
                  ],
                  "pickLocation": "$pickDetail.container.location"
                }
               #end
              ]
            }
            #if( $foreach.hasNext ),#end
           #end
          ]
        }
      ]
    }
  }
]