[
  {
    "eventName": "ORDER_CREATE",
    "eventTs": "$DATE_TOOL.get('yyyy-MM-dd')T$DATE_TOOL.get('HH:mm:ss')",
    "eventPayload": {
     "orderType": "$DOMAIN_ENTITY.orderType",
     "customerId": "$DOMAIN_ENTITY.customerId"
     "products": [
      #foreach($line in $DOMAIN_ENTITY.lines.line)
        {
          "productId": $line.productId,
          "quantity": $line.quantity
        }
      #end
      ]
    }
  }
]